<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{%  block title %} {% endblock %}</title>
</head>
<body>
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"> <div class="col-md-3 mb-2 mb-md-0">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 nb-nd-0 text-dark text-decoration-none">
        <img src="{{ url_for('static', filename='img/law.png') }}" alt="law">

</ul>
    </a> </div> <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
   
</ul>

    {%  block body %} {% endblock %}
</body>
</html>

<h1>Почему стоит буллить Дениса?</h1>
<h1>Денис это - ебаное заблеванное животное, он из эры динозавров, как только начинаешь с ним разговаривать, он начинает орать на весь город, призывая свою стаю петухов.</h1>
<h1>Денису не понятно слово - завали ебало, у него есть только: Тобі пизда, и начинает петушиться.</h1>
<h1>Ну что ещё сказать про этого долбаеба из села, он не смотрит тик токи потому что сосёт хуй, ему уже не привыкать</h1>
<h1>Ему похуй на сообщение из телеграма или инстаграма, потому что он закладывает бомбу на Б, ебаная хуйня со своим кс2</h1>
<h1>Дохуя пиздит - особенно когда говорит что мы нахуяримся в хлам в селе, но в итоге он говорит что он не хочет, ну выблядок что сказать</h1>
<h1>Тип перерождается уже в бэтмена, сука спасает огонёк только ночью, конечно у него же смена закончилась на трассе</h1>
<h1>Да ебать, как таким можно быть долбаебом, я конечно тоже долбаеб но не настолько чтобы не отвечать блуат</h1>